.fl-widget-provider {
    display: none;
    left: 100%;
}

.widget-holder {
    padding: 15px;
}

.error {
    display: none;
    margin: 10px 0;
}

.help-block {
    font-size: 0.8em;
}

.file-title {
    display: inline-block;
    margin-left: 10px;
    height: 46px;
    line-height: 46px;
}

.info-holder .btn-link {
    margin-left: 10px;
}

.info-holder .btn-link.text-danger {
    color: #E03629 !important;
}

.info-holder .btn-link.text-danger:active:focus,
.info-holder .btn-link.text-danger:active:hover,
.info-holder .btn-link.text-danger:focus,
.info-holder .btn-link.text-danger:hover {
    color: #a94442 !important;
}
@media only screen and (min-width: 488px) {
    header {
        font-size: 1.0em;
    }
}
