.fl-widget-provider {
    display: none;
    left: 100%;
}

.widget-holder {
    padding: 15px;
}
/*BUTTONS*/
.btn {
    border-radius: 6px;
    line-height: 44px;
    padding: 0 15px;
    border: none;
}

.btn-default {
    color: #333;
    background-color: #e4e9eb;
    border-bottom: 2px solid #cfd3d5;
}

.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:focus,
.btn-default:hover {
    color: #333;
    background-color: #cfd3d5;
    border-color: #cfd3d5;
    outline: none;
}

.btn-primary {
    color: #FFF;
    background-color: #00abd2;
    border-bottom: 2px solid #0087a6;
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
    color: #FFF;
    background-color: #0087a6;
    border-color: #0087a6;
    outline: none;
}

.btn-danger {
    color: #FFF;
    background-color: #d9534f;
    border-bottom: 2px solid #c9302c;
}

.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger:focus,
.btn-danger:hover {
    color: #FFF;
    background-color: #c9302c;
    border-color: #c9302c;
    outline: none;
}

.btn-link,
a {
    color: #00abd1;
}

header {
    display: flex;
    font-size: 0.8em;
    border-bottom: 1px solid #E3E9EB;
    margin-bottom: 3rem;
    padding-bottom: 1.5em;
}

header.titles {
    font-weight: bold;
}

header p {
    flex: 1;
    margin: 0 1.4rem 0 0;
}

header a {
    text-decoration: none;
}

.error {
    display: none;
    margin: 10px 0;
}

.help-block {
    font-size: 0.8em;
}

.file-title {
    display: inline-block;
    margin-left: 10px;
    height: 46px;
    line-height: 46px;
}

.info-holder .btn-link {
    margin-left: 10px;
}

.info-holder .btn-link.text-danger {
    color: #E03629 !important;
}

.info-holder .btn-link.text-danger:active:focus,
.info-holder .btn-link.text-danger:active:hover,
.info-holder .btn-link.text-danger:focus,
.info-holder .btn-link.text-danger:hover {
    color: #a94442 !important;
}
@media only screen and (min-width: 488px) {
    header {
        font-size: 1.0em;
    }
}
